# .htaccess

RewriteEngine On
RewriteBase /Smart-Menu-with-QrCode/

# Redirect to index.php for all requests
RewriteRule ^$ index.php [L]

# Handle requests for admin pages
RewriteRule ^admin/(.*)$ src/admin/$1 [L]

# Prevent direct access to PHP files in the includes directory
<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>